 @import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

h1{
font-size: 2.5rem;
color: rgb(255, 0, 0);
text-align: center;
font-family: 'Roboto Condensed', sans-serif;
border: 2px solid black;
padding: 15px;
margin-top: 20px;
border-radius: 15px;
margin: 25px 10% 25px 10%;
} 
body{
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    line-height: 22px;
    margin: 25px;

}
 h3{
    margin: 25px;
 }
p{
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    line-height: 22px;
    margin: 25px 10% 25px 10%; 
}

header{
    border-bottom: 1px solid;
}
nav{
    width: 100%;
    background-color: #444563;
}
.accueil{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav > ul{
    margin: 0px;
    padding: 0px; 
}

nav > ul::after{
    content: "";
    display: block;
    clear: both;
}

nav > ul > li{
    float: left;
    position: relative;
}

nav> ul> li> a{
    padding: 20px 30px;
    color: #ffffff;
}
nav > ul > li:hover a{
    padding: 15px 30px 20px 30px;
}

nav li{
    list-style-type: none;
}

.submenu{
    display: none;

}

nav>a{
    display: inline-block;
    text-decoration: none;
}

.wrapper{
    margin: 0 auto;
    width: 1000px;
}
nav li:hover .submenu{
    display:inline-block;
    position: absolute;
    top: 100%;
    left: 0px;
    padding:0px;
    z-index: 1000;
}

.submenu li{
    border-bottom: 1px solid #000000;
}

.submenu li a{
    padding: 15px 30px;
    font-size: 13px;
    color: #000000;
    width: 270px;
}